# git status --porcelain | grep '^??' | cut -c4- >> .gitignore
   
.DS_Store

test/
.vscode/

*CoqMakefile*
*.vo
*.vok
*.vos
*.glob
*.aux
.lia.cache
**/ott.v
**/def_ott.v
**/ln_inf.v
**/prop_ln.v
.FILE_LIST

