# git status --porcelain | grep '^??' | cut -c4- >> .gitignore

.DS_STORE
*.aux
proof/.CoqMakefile.d
proof/.FILE_LIST
proof/.gitignore
proof/CoqMakefile
proof/CoqMakefile.conf
proof/algo/ln_inf.glob
proof/algo/ln_inf.v
proof/algo/ln_inf.vo
proof/algo/ln_inf.vok
proof/algo/ln_inf.vos
proof/algo/ott.glob
proof/algo/ott.v
proof/algo/ott.vo
proof/algo/ott.vok
proof/algo/ott.vos
proof/decl/ln_inf.glob
proof/decl/ln_inf.v
proof/decl/ln_inf.vo
proof/decl/ln_inf.vok
proof/decl/ln_inf.vos
proof/decl/ott.glob
proof/decl/ott.v
proof/decl/ott.vo
proof/decl/ott.vok
proof/decl/ott.vos
